<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="box">
        <!-- 我们要监听到文本框数据的改变，这样才能知道什么时候能拼接到一个fullname -->
        <!-- 如何监听到文本框的数据改变呢？   用原生DOM    @keyup -->
        <input type="text" v-model="firstname" @keyup='getFullname'>+
        <input type="text" v-model="lastname" @keyup='getFullname'>=
        <input type="text" v-model="fulname">
    </div>
    <script>
        var vue = new Vue({
            el: '#box',
            data: {
                firstname: '',
                lastname: '',
                fulname: ''
            },
            methods: {
                getFullname(){
                    this.fulname=this.firstname + '-' + this.lastname
                } 
            }
        });
    </script>
</body>

</html>